<!-- addTrad.ejs -->
<head>
    <meta charset="UTF-8">
    <title>Traduction</title>
    <link rel="stylesheet" href="/style.css">
  </head>

<body>
  <div class="code-container">
    <table>
        <thead>
            <tr>
                <th>Word</th>
                <th>Translation</th>
                <th>Succes rate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (word of tradList) { %>
                <tr>
                    <td><%= word.ndls %></td>
                    <td><%= word.fr %></td>
                    <td><%= word.rate %></td>
                    <td><a href="/destroy/<%= word.id %>">Delete</a></td>
                </tr>
            <% } %>
        </tbody>
    </table>
  </div>
  <div class="form-container">
  
    <form action="/add" method="POST">
      <input name="ndls" placeholder="neerlandais" />
      <input name="french" placeholder="french" />
  
      <input type="submit" />
    </form>

    <form action="/change1" method="POST">
        <input type="submit" name="menu" />
      </form>
  </div>
  </body>